body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  flex-direction: column;
}

#container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#backgroundImage,
#groundImage {
  max-width: 100vw;
  max-height: 100vh;
  position: absolute;
}

#backgroundImage {
  z-index: 1;
}

#groundImage {
  z-index: 0;
  /* background-color: rgba(255, 0, 0, 0.27); */
}

/* i dont see what it is for now */
#usersContainer {
  position:absolute;
  /* background-color: rgba(255, 0, 0, 0.251); */
  z-index: 6;
  overflow: hidden;
  /* background-color: white; */
}


#clickingContainer {
  position: absolute; /* or fixed, depending on your needs */
  /* background-color: rgba(255, 255, 255, 0.5); Example background color */
  z-index: 8;
}
