.userCharacter {
  /* background-color: red; */
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: column;
  z-index: 4;
}

.usernameText {
  /* background-color: white; */
  color: black;
  text-align: center;
  position: absolute;
  top: 105%;
  font-family: Arial, Helvetica, sans-serif;    
  cursor: default;
  width: 150%;
}

.characterImage {

  width: 80%;
}

/* .message-container {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  visibility: visible;
}

.message-bubble {
  background-color: white;
  color: black;
  border-radius: 8px;
  padding: 8px 12px;
  position: relative;
}

.message-bubble::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 8px solid transparent;
  border-top-color: white;
} */

.messageText {
  position: absolute;
  bottom: calc(100% + 5px); /* Position it above the character */
  left: 50%; /* Adjust as needed */
  transform: translateX(-50%);
  background-color: rgba(255, 255, 255, 0.8); /* Adjust styling */
  padding: 3px 8px;
  border-radius: 5px;
  font-size: 12px;
  white-space: nowrap;
}

/* .walking {
  animation: walk-bounce 0.3s infinite;
}

@keyframes walk-bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-2px); } /* תנועה קלה למעלה
} */
