body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: black;
  flex-direction: column;
}

#container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#containerForImages {
  aspect-ratio: 1920 / 1280;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  background-color: red;

}

#backgroundImage {
  width: 100%;
  height: 100%;
  display: block;
}

#backgroundImage {
  z-index: 1;
}

#palaceImage {
  position: absolute;
  top: 24%;
  left: 60%; 
  z-index: 2;
  width: 20%;
  height: 33%;
  clip-path: polygon(30% 0%, 70% 0%, 100% 25%, 100% 100%, 0% 100%, 0% 25%);
  border: 1px solid red;
  background-color: rgba(255, 0, 0, 0.1);
}

#palaceImage:hover {
  background-color: rgba(255, 0, 0, 0.3);

}

#seaImage {
  position: absolute;
  margin: 0;
  top: 68%;
  left: 0%; 
  z-index: 2;
  width: 33%;
  height: 32%;
  clip-path: polygon(0% 0%, 65% 15%, 100% 100%, 0% 100%, 0% 25%);
  border: 1px solid blue;
  background-color: rgba(15, 64, 239, 0.1);
}

#seaImage:hover {
  background-color: rgba(15, 64, 239, 0.3);

}
  