#logoutBtn {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

#movePage {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
}

/* should be according to the background image, like the clickingContainer */
.chat-form-container {
  position: absolute;
  z-index: 10;
  bottom: 10vh; /* Moves the form down from the center */
  width: 100%;
  display: flex;
  justify-content: center;
}

#chat-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

#msgInput {
  height: 5vh;
  width: 50vw;
  padding-right: 3vw;
}

#send-button {
  height: 5vh; /* Adjust height to match the input */
  width: 70px;
  margin-left: 3vw; /* Adds space between input and button */
}



#profileBtn {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 10;
}